services:
  mysql:
    image: mysql:8.0.45
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_service_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  user-service:
    build: .
    container_name: user_service
    depends_on:
      - mysql
    ports:
      - "8080:8080"

volumes:
  mysql_data:
